.tube .color.red{
    background-color: red;
}

.tube .color.yellow{
    background-color: yellow;
}

.tube .color.blue{
    background-color: blue;
}

.tube .color.green{
    background-color: green;
}

.tube .color.purple{
    background-color: purple;
}